body {
	font-family: sans-serif;
}

.metronome {
	width: 50%;
  min-width: 480px;
	padding: 20px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.15);
}

.player {
	display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.beats {
	font-size: 50px;
  color: #3e3e3e;
  display: inline-block;
  margin-right: 5px;
}

.bpm {
	font-size: 14px;
  color: #c3c3c3;
}

/* Play button styling */
.play {
	width: 50px;
  height: 50px;
  /*border: none;*/
  outline: none;
  border-radius: 50%;
  border: 0px solid;
  background-color: #60d08e;
  color: #fff;
  font-size: 14px;
	transition: all 0.2s ease-out;
}

/* Box shadow styling for button pulse effect */
.hit-effect {
    box-shadow: 0px 0px 8px 12px rgba(204, 204, 204, 0.2), 0px 0px 2px 4px rgba(184, 184, 184, 0.23);
}

.beat-slider {
	width: 100%;
	-webkit-appearance: none; /* Hides the default slider so that a custom slider can be made */
	outline: none;
}

/* Styles the adjustable knob of the slider */
.beat-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-top: -6px;
  border-radius: 50%;
  background-color: #60d08e;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0,0,0,.2);
}

.beat-slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-top: -6px;
  border-radius: 50%;
  border: none;
  background-color: #7e7e7e;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0,0,0,.2);
}

/* Styles the track the the slider button moves across */
.beat-slider::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0,0,0,.2); 
  background: #e3e3e3;
  height: 2px;
}

.beat-slider::-moz-range-track {
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0,0,0,.2); 
  background: #e3e3e3;
  height: 2px;
  outline: none;
}

/* Removes dotted border in firefox on selection */
.beat-slider::-moz-focus-outer {
  border: 0;
}

/* font awesome classes - with small adjustments */
.play-text {
	font-size: 20px;
}
.fa-play {
	margin-left: 4px;
}